html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #ffffff;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* lato-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header styles start */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
}
.header_active{
    background: #0E1D28;
}
.header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}

@media (max-width: 991px){
    .section-title{
        font-size: 30px;
        line-height: 38px;
    }
}

@media (max-width: 768px){
    .section-title{
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 540px){
    .section-title{
        font-size: 22px;
        line-height: 28px;
    }
}

/* Intro start */

.intro{
    min-height: 100vh;
    background: url(/img/intro-bg-min.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}


.intro__title{
    font-size: 60px;
    line-height: 72px;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 30px;
}

.intro__subtitle{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 60px;
}

.search-form .field{
    width: 100%;
    padding: 18px 28px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px;
    position: relative;
}

.search-form .field::-webkit-input-placeholder{
    color: #ffffff;
}

.search-form .field::-moz-placeholder{
    color: #ffffff;
}

.search-form .field:-ms-input-placeholder{
    color: #ffffff;
}

.search-form .field::-ms-input-placeholder{
    color: #ffffff;
}

.search-form .field::placeholder{
    color: #ffffff;
}

.search-form .submit{
    padding: 0 100px;
    height: 54px;
    line-height: 54px;
    background-color: #006DFE;
    border: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    display: block;
    margin: 0 auto;
}

.search-form .submit:hover, .search-form .submit:focus{
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #396839;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #396839;
    width: 20%;
    height: 50%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.language-switcher {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.language-switcher button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.language-switcher button:hover {
    background-color: #0056b3;
}

.h2title {
    font-size: 35px;
}

.ultitle {
    margin-top: 30px;
    font-size: 30px;
}